<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle producto</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="confirmDelete()">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content color="dark" *ngIf="product">
  <ion-card color="dark">
    <img *ngIf="product.image" [src]="product.image" />
    <ion-card-header>
      <ion-card-title class="text-primary-lg">{{ product.name }}</ion-card-title>
      <ion-card-subtitle class="text-secondary-light"
        >Categoría: {{ product.category || 'Sin categoría' }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p class="text-secondary-light-sm"><strong>Código:</strong> {{ product.code }}</p>
      <p class="text-secondary-light-sm"><strong>Stock:</strong> {{ product.stock }}</p>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button style="width: fit-content !important; margin-left: auto !important;" color="purple" shape="round" expand="block" (click)="updateStock(1)">+1</ion-button>
          </ion-col>
          <ion-col>
            <ion-button
              style="width: fit-content !important; margin-right: auto !important;"
              expand="block"
              color="light"
              shape="round"
              (click)="updateStock(-1)"
              [disabled]="product.stock <= 0"
              >-1</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button color="lime" shape="round" expand="block" (click)="changePicture()">
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Cambiar foto
        </ion-button
      >
      <ion-button
        class="ion-margin-top"
        color="light"
        shape="round"
        expand="block"
        (click)="confirmDelete()"
        >
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Eliminar producto</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
