<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Inventario</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content color="dark">
  <ion-button
    (click)="addProduct()"
    class="ion-margin"
    expand="block"
    color="lime"
    shape="round"
  >
    <ion-icon slot="start" name="add-outline"></ion-icon>
    <span class="text-secondary-dark-sm">Agregar producto</span>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-button>
  <ion-list class="ion-no-padding">
    <ion-buttons color="dark" style="background-color:#222428 !important;">
      <ion-button size="large" style="margin-left: auto !important;" (click)="export('csv')" color="light">
        <ion-icon slot="icon-only" name="document-text-outline"></ion-icon>
      </ion-button>
      <ion-button size="large" (click)="export('pdf')" color="light">
        <ion-icon slot="icon-only" name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item color="dark" *ngFor="let product of products" (click)="openDetail(product)">
      <ion-thumbnail slot="start">
        <img [src]="product.image" *ngIf="product.image" />
        <ion-row
          *ngIf="!product.image"
          class="ion-justify-content-center ion-align-items-center"
          style="height: 100%"
        >
          <ion-icon
            name="camera-outline"
            size="large"
            aria-hidden="true"
          ></ion-icon>
        </ion-row>
      </ion-thumbnail>
      <ion-label>
        <h2 class="text-primary">{{ product.name }}</h2>
        <p class="text-secondary-light">Stock: {{ product.stock }}</p>
      </ion-label>
      <ion-icon
        name="eye-outline"
        aria-hidden="true"
      ></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanCode()" color="lime">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
