<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Código</ion-label>
      <ion-input [(ngModel)]="code" readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Categoría</ion-label>
      <ion-input [(ngModel)]="category"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Stock</ion-label>
      <ion-input type="number" [(ngModel)]="stock"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding" *ngIf="imageBase64">
    <img [src]="imageBase64" style="width: 100%; border-radius: 8px" />
  </div>
  <ion-button expand="block" (click)="takePicture()">Tomar Foto</ion-button>
  <ion-button
    expand="block"
    color="success"
    (click)="save()"
    [disabled]="!name || stock < 0"
    >Guardar</ion-button
  >
</ion-content>
