<ion-content color="dark">
  <ion-title class="text-primary-lg ion-margin ion-text-center">Nuevo producto</ion-title>
  <ion-list class="ion-no-padding">
    <ion-item color="dark">
      <ion-input [(ngModel)]="code" label="Código" label-placement="floating" readonly></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input [(ngModel)]="name" label="Nombre" label-placement="floating"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input [(ngModel)]="category" label="Categoría" label-placement="floating"></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input type="number" [(ngModel)]="stock" label="Stock" label-placement="floating"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding" *ngIf="imageBase64">
    <img [src]="imageBase64" style="width: 100%; border-radius: 8px" />
  </div>
  <ion-row class="ion-padding-top">
    <ion-col siz="12">
      <ion-button
        color="purple"
        expand="block"
        shape="round"
        (click)="takePicture()"
      >
        <ion-icon slot="start" name="camera-outline"></ion-icon>
        Tomar foto
      </ion-button>
      <ion-button
        class="ion-margin-top"
        expand="block"
        color="lime"
        shape="round"
        (click)="save()"
        [disabled]="!name || stock < 0"
      >
        Guardar
        <ion-icon slot="start" name="save-outline"></ion-icon>
      </ion-button
      >
    </ion-col>
  </ion-row>
</ion-content>
